doctype html
html
	head
		title Gema Buj - A Blog and Portfolio Combined
		link(rel="stylesheet", href="_scss/main.css")
	body
		header#main-navigation.clearfix
			a.name(href="#") Gema Buj
				nav
					a(href="#") Article
					a(href="#") Projects
					a(href="#") Contact
