doctype html
html
	head
		title Gema Buj - A Blog and Portfolio Combined
		link(rel="stylesheet", href="_scss/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
	body
		header#main-navigation.clearfix
			a.name(href="#") Gema Buj
			nav
				a(href="#") Article
				a(href="#") Projects
				a(href="#") Contact
		.wrapper.clearfix
			.col-1.homepage-content
				h2 About
				hr
				p(align="justify") Hello. My name is [INSERT NAME]. My occupation is [INSERT JOBS]. Nice to meet you. Why I created this blog dash portfolio, you said? Nice queations, and I'll answer it along the way I created this blog dash portfolio. Bear with me.
			.col-2.homepage-content
				h2 Projects
				hr
				p(align="justify") Here are several projects that I've been completed so far. The range of awesomeness is quite diverse. All of the project that I've been done in early of my trial are from 'Meh' into 'Ok.. I guesed..'. The proud just started about one year ago. My skills quite improving, and the results are ranged from 'Nice' into 'Wow'. Feel free to browse it.
			.col-3.homepage-content
				h2 Blog Post
				hr
				p(align="justify") Here are several my food for thought post for the last 3 years of my time blogging. Maybe you and I are alike, what I share here also resonate strongly in you. Feel free to browse it.
