doctype html
html
	head
		title Gema Buj - A Blog and Portfolio Combined
		link(rel="stylesheet", href="_scss/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		header#main-navigation.clearfix
			a.name(href="#") Gema Buj
			nav
				a(href="#") Article
				a(href="#") Projects
				a(href="#") Contact
		.wrapper.clearfix
			.col-1.homepage-content.about
				h2 About
				hr
				p(align="justify") 
				| Hello. My name is [INSERT NAME]. My occupation is [INSERT JOBS]. Nice to meet you. Why I created this 
				a(href="") cool blog dash portfolio
				| , you said? Nice questions, and I'll answer it along the way I created this blog dash portfolio. Bear with me.
				p(align="justify") The range of awesomeness in this blog dash portfolio are diverse, from 'Meh' into 'Ok, I guessed' and finally 'Wow, dude!'. Yeah, I know, right.

			.col-2.homepage-content
				h2 Projects
				hr
				p(align="justify") Here are several projects that I've been completed so far.
				h3 Blog projects using Jekyll
				p(align="justify").date February 14th, 2015
				h3 Model-Viewer-Controller using Ruby on Rails
				p(align="justify").date March 12nd, 2015 

			.col-3.homepage-content
				h2 Blog Post
				hr
				p(align="justify") Here are several my food for thought post for the last 3 years of my time blogging.
				h3 Employment nowdays: Why the long face?
				p(align="justify").date February 9th, 2015
				h3 Buckle up! Be a good web developer
				p(align="justify").date April 13th, 2015 

		footer#main-footer
			p.copyright &copy; 2015 | Gema Buj
			nav
				a(href="")
					i.fa.fa-github
				a(href="")
					i.fa.fa-github-alt
				a(href="")
					i.fa.fa-twitter
