$dark: #424652
$light: #9a9da4
$highlight: #8bc6db
$border: #E9E9E9

#main-navigation
	padding: 2.5em 5%

	.name
		font-weight: 600
		font-size: 0.7em
		text-transform: uppercase
		border: 3px solid $border
		padding: 0.75em 1rem
		text-decoration:none
		color: $dark
		float: left